<ion-header>
  <ion-toolbar>
    <ion-buttons  slot='start'>
      <ion-menu-button color='dark'>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>CHAT</ion-title>
    <ion-buttons slot='end'>
      <ion-back-button 
        color='dark'
        [text]="buttonText"
        [icon]="buttonIcon"
        defaultHref="/list">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col size=12>
        <ion-list *ngFor="let m of messages">
          <ion-grid>
            <ion-row>

              <ion-col *ngIf="currentUserId === m.creator" size=9 offset=3>
                <div [ngClass]="currentUserId === m.creator ? 'chat__my-message' : 'chat__other-message'">
                  <b>{{m.name}}:</b> {{m.content}}
                </div>
                <p class="ion-text-end">
                  {{m.date | date:'short'}}
                </p>
               
              </ion-col>

              <ion-col *ngIf="currentUserId !== m.creator" size=9>
                <div [ngClass]="currentUserId === m.creator ? 'chat__my-message' : 'chat__other-message'">
                  <b>{{m.name}}:</b> {{m.content}}
                </div>
                <p class="ion-text-start">
                  {{m.date | date:'short'}}
                </p>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
 <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button color='dark'>
        <ion-icon name='camera' slot='icon-only'>
        </ion-icon>
      </ion-button>
    </ion-buttons>
   <ion-item lines="none">
     <ion-textarea [(ngModel)]='messageContent' rows=1 ion-border placeholder='Message...'>

     </ion-textarea>
   </ion-item>
   <ion-buttons slot='end'>
     <ion-button (click)='sendMessage(); messageContent=undefined' [disabled]='!messageContent' color='dark'>
       Send
       <ion-icon name='send' slot='icon-only'>
       </ion-icon>
     </ion-button>
   </ion-buttons>
 </ion-toolbar>
</ion-footer>
