<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color='dark'>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>DETAILS</ion-title>
    <ion-buttons slot="end">
      <ion-back-button color='dark'
        [text]="buttonText"
        [icon]="buttonIcon"
        defaultHref="/list">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf='currentCharacter'>
  <ion-grid>
    <ion-row>
      <ion-col size-xs=12 size-sm=12 size-md=6 offset-md=3 size-lg=6 offset-lg=3 size-xl=6 offset-lg=3>
        <ion-card>
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-align-self-center" size=2.5>
                  <ion-avatar>
                    <img [src]="currentCharacter.image">
                  </ion-avatar>
                </ion-col>
                <ion-col class="ion-align-self-center" >
                  <ion-card-title>{{currentCharacter.name}}</ion-card-title>
                  <ion-card-subtitle>STATUS: {{currentCharacter.status}}</ion-card-subtitle>
                </ion-col>
              </ion-row>
            </ion-grid>
          
            
          </ion-card-header>
        
          <ion-card-content >
            <ion-list>
              <ion-item lines='none'> 
                <img [src]='currentCharacter.image'>
              </ion-item>
              <ion-item>
                <ion-icon [name]='getPlanetIcon(currentCharacter.origin.name)' slot="start"></ion-icon>
                <ion-label>ORIGIN: {{currentCharacter.origin.name | uppercase}}</ion-label>
              </ion-item>
              <ion-item class="activated">
                <ion-icon [name]='getGenderIcon(currentCharacter.gender)' slot="start"></ion-icon>
                <ion-label>GENDER: {{currentCharacter.gender | uppercase}}</ion-label>
              </ion-item>
            
              <ion-item >
                <ion-icon [name]="getSpeciesIcon(currentCharacter.species)" slot="start"></ion-icon>
                <ion-label>SPECIES: {{currentCharacter.species | uppercase}}</ion-label>
              </ion-item>
            
              <ion-item class="activated">
                <ion-icon name="calendar" slot="start"></ion-icon>
                <ion-label>BIRTHDAY: {{currentCharacter.created | uppercase | date:'mediumDate'}}</ion-label>
              </ion-item>
              
              <ion-item>
                <ion-icon [name]="getStatusIcon(currentCharacter.status)" slot="start"></ion-icon>
                <ion-label>STATUS: {{currentCharacter.status | uppercase}}</ion-label>
              </ion-item>
            </ion-list>
            
            <ion-card-content class="ion-text-center">
              {{currentCharacter.name}} is a {{currentCharacter.gender | lowercase}} {{currentCharacter.species | lowercase}}. {{currentCharacter.gender==="Male" ? "He" : "She"}} {{currentCharacter.status==="Alive" || "Unknown"  ? "is" : "was"}} originally from the planet {{currentCharacter.origin.name}}. {{currentCharacter.gender==='Male' ? 'His' : 'Her'}} current status is: {{currentCharacter.status | uppercase}}
            </ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
