<ion-header>
<!-- 
  <ion-toolbar>
    <ion-buttons color="dark" slot="start">
      <ion-menu-button slot="start"></ion-menu-button>
    </ion-buttons>

    <ion-title ion-text-center>AUTHENTICATION</ion-title>

    <ion-buttons color="dark" slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
  </ion-buttons>

  </ion-toolbar> -->
</ion-header>

<ion-content>
  <form #myForm='ngForm' [formGroup]='authForm' (ngSubmit)='signUpUser()'>
    <ion-grid class='margin-vertical'>
      <ion-row>
        <ion-col>
          <ion-avatar>
            <ion-icon name="person"></ion-icon>
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines='none'>
            <h1>Sign Up</h1>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item class="auth-item__input ion-margin-horizontal">
              <ion-label >
                <ion-icon class="ion-margin-end" color="medium" name='mail' slot='start'></ion-icon>
                E-mail
              </ion-label>
              <ion-input required formControlName='email' clearInput type="email"></ion-input>
            </ion-item>


            <ion-item lines="none" class="auth-item__input ion-margin-horizontal">
              <ion-label >
                <ion-icon class="ion-margin-end" color="medium" name='lock' slot='start'></ion-icon>
                Password
              </ion-label>
              <ion-input required formControlName='pass' clearInput type="password"></ion-input>
            </ion-item>

            <div *ngIf='(myForm.dirty || myForm.touched || myForm.submitted) && myForm.invalid'>
              <ion-item *ngFor="let validation of validations">
                <ion-label class="error-message" *ngIf="authForm.controls['email'].hasError(validation.type) && (authForm.controls['email'].dirty || authForm.controls['email'].touched) || myForm.submitted">
                   <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
                </ion-label>
              </ion-item>
            </div>
            
            <ion-item  lines="none" class="ion-margin-horizontal">
              <a slot="end" href="">
                forgot password?
              </a>
            </ion-item>
          </ion-list>

        </ion-col>

      </ion-row>
      <ion-row >
        <ion-col>
          <ion-item class="ion-margin-bottom" lines='none' class="auth-sign-up__facebook" > 
            <a [routerLink]="['/list']" routerDirection='forward'>
              <h2>Sign in with</h2>
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <ion-list class="ion-margin" lines="none" class=auth-item__controls>
            
            <ion-item>
              <ion-button size='default' class='auth-item__controls-sign-up' type='submit' fill='outline'> 
                Sign Up
              </ion-button>
            </ion-item>
            

            <ion-item >
              <ion-button size='default' class='auth-item__controls-sign-in' type='submit' fill='solid'>
                Sign In
              </ion-button>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <ion-item  lines='none' class='auth-terms margin-vertical'>
            <a [routerLink]="['/authentication']" routerLinkActive="active">Terms and conditions</a>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  </ion-content>
